.cd_choices-main-container {
    position: relative;
    height: 300px;
    word-wrap: break-word;
}

.cd_choice-inner-container {
    position: relative;
    height: 100%;
    border-radius: 25px;
}

.cd_choice1 {
    background-image: linear-gradient(to bottom right, lightgreen, rgb(0, 165, 0));
}

.cd_choice2 {
    background-image: linear-gradient(to top right, rgb(163, 35, 35), rgb(247, 76, 76));
}

.cd_choice-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.cd_choice-or {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;

    background-color: rgba(0, 0, 0, 0.8);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.cd_choice-perc {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.cd_choice-counter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.cd_choice-sentence {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.cd_rather-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

@include media-breakpoint-down(md) {
    .cd_choices-main-container {
        height: 450px;
    }
    
    .cd_choice-perc {
        font-size: 32px;
    }
    
    .cd_choice-counter {
        font-size: 12px;
    }
    
    .cd_choice-sentence {
        font-size: 18px;
    }

    .cd_choice-or {
        font-size: 24px;
    }
}